* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: black;
}

.card-item {
    width: 333px;
    height: 404px;
    border-radius: 8px;
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.15);

}

.card-item-img {
    height: 185px;
    width: 100%;

}

.card-item-img img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
    object-fit: cover;

}

.card-item-text {
    padding: 13px 7px 20px 18px;
}

h3 {
    font-size: 24px;
    line-height: 29px;
    margin: 0;

}

.card-item-buttons {
    margin: 20px 11px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

button {
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px 16px;
    font-weight: 600;

}
